.header_top{background-color: #464646;
            height: 35px;}

.header_top_02{background-color: #dddddd;
            height: 35px;}

.highlight {
    display: block;
    margin-top: 5px;
}

.buffer {
    background-color: #FFFFE8;
    padding: 1px;
}

h2.title {
    text-indent: 10px;
}

.custom_btn{margin-top: 10px;}

.general{padding: 10px 0px;
        border-bottom: 1px solid #A0CE67;
        margin: 0px 0px 15px;}

.db_menu{padding: 10px 15px;}

.below {
     width: auto;
  margin-top: 10px;
  height: 14px;
  background: transparent url("../images/wide-shadow.png") no-repeat scroll center center;
  border-top: 1px solid lightgray;
}
.preview {
    font-size: 12px;
}

.preview tr.odd {
    background: #FFFFE0 none repeat scroll 0% 0%;
}
.full tbody tr {
    line-height: 20px;
}

.category {
    width: 140px;
    padding: 0px 5px;
    vertical-align: top;
    font-weight: bold;
}

td.value {
    vertical-align: top;
    padding: 0px 5px;
}
.squeeze {
    padding: 5px 10px;
}

.box-rounded{height: 210px; 
            width: 310px;
            border: 1px solid #ddd; }

.box-shadow-inner {
    height: 200px;
    width: 300px;
    border: 2px solid #d9d9d9;
    margin: 3px;
}

.member_name {
  position: absolute;
  margin-top: 3px;
  font-size: 24px;
  margin-left: 10px;
  color: #fff;
}

.profile_image
{
	width:300px;
	height:200px;
	}
.information {
    width: 250px;
	height: 40px;
    background: transparent url("../images/bg_shade.png") no-repeat scroll 0% 0%;
	position:absolute; 
	margin-top: -38px; 
}
.information div {
    padding: 0px 15px;
    line-height: 40px;
    font-size: 22px;
    color: #FFF;
}

.box-rounded_02{
            width: 310px;
            border: 1px solid #ddd; 
            margin-top: 10px;
}

.box-shadow-02 {
    width: 300px;
    border: 2px solid #d9d9d9;
    margin: 3px;
}

.drop{padding: 0px 15px;
      font-size: 18px;
      font-size: 18px;
    line-height: 28px;
    border-bottom: 1px solid #A0CE67;
    margin: 5px 4px;
}

#submenu li:hover {
    background: #F2F9FD none repeat scroll 0% 0%;
}

#submenu li {
    line-height: 40px;
    margin: 2px 0px;
}

ul#submenu {
    list-style-type: none;
}

.current{background: #F2F9FD none repeat scroll 0% 0%;}

#submenu li a{
    padding: 0px 10px;
    display: block;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: -1px;
}

#submenu li a:hover {color: #F68932;}

#submenu_help li{list-style: circle !important;}

#submenu_help li a:hover {color: #F68932;}

.nav > li > a {
    position: relative;
    display: block;
    padding: 5px 15px;
   
}
.custom_nav > li > a:active{ background-color: rgb(127,200,231) !important;}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #FFF;
    background-color: #76B8F2;
}

.empty{color: #bbb;
  font-size: 20px;}
  
  
  /* dashboard Edit */

.squeeze {
    padding: 0px 10px;
}

.mount {
    margin: 0px;
    float: left;
    padding: 0px;
    width: 440px;
}

label {
    width: 125px;
    color: #004B8D;
    text-align: right;
    padding: 0px 10px 0px 0px;
    font-size: 14px;
    line-height: 34px;
    font-weight: bold !important;
    float: left;
}

 .caption {
    font-size: 10px;
    text-transform: uppercase;
    line-height: 16px;
    color: #AAA;
}

.note {
    width: 400px;
    padding: 5px;
    background: #FFFFE0 none repeat scroll 0% 0%;
    border: 1px dotted #F68932;
}

.content {
    font-size: 12px;
    text-align: left;
}

.break {
    margin-top: 20px !important;
}

.virgin {
    background: transparent url("../images/icon_big_type_virgins.png") no-repeat scroll left top;
    width: 335px;
    height: 70px;
    padding: 5px 0px 5px 65px;
}

.option {
    float: left;
	text-align: left;
	height: 20px;
	margin-left: 20px;
}

.mount label {
    float: left;
    width: 190px;
    color: #000;
    text-align: left;
    padding: 0px;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    height: 20px;
}

.veteran {
    background: transparent url("../images/icon_big_type_veterans.png") no-repeat scroll left top;
    width: 335px;
    height: 80px;
    padding: 5px 0px 5px 65px;
}

.pro {
    background: transparent url("../images/icon_big_type_pros.png") no-repeat scroll left top;
    width: 335px;
    height: 80px;
    padding: 5px 0px 5px 65px;
}

 .submit {
    margin: 10px 0px 0px;
    border-top: 1px dotted #888;
    padding: 10px 0px 0px 135px;
}

.title {
    font-size: 20px !important;
    color: #000 !important;
}

.secpos {
    margin-bottom: 5px;
}

input#hm_area,#hm_start,#hm_end {
    width: 46px;
    margin: 0px 5px 0px 0px;
	padding: 7px;
}

.select select {
    margin: 5px 0px 0px;
    padding: 3px 7px;
	background: #FCFCFC none repeat scroll 0% 0%;
	font-family: Helvetica,Arial,sans-serif;
	width: 200px;
	outline: 0px none;
	color: #000;
	font-size: 16px;
	border: 1px solid #CCC;
	cursor: default;
}
.apply {
  margin: 0 auto;
  width: 94px;
  background: #a2d267;
  font-size: 16px;
  line-height: 34px;
  text-align: center;

}
.apply a {
	color:#fff;
	}


/* dashboard Edit */

.squeeze {
    padding: 0px 10px;
}

.mount {
    margin: 0px;
    float: left;
    padding: 0px;
    width: 440px;
}

label {
    width: 125px;
    color: #004B8D;
    text-align: right;
    padding: 0px 10px 0px 0px;
    font-size: 14px;
    line-height: 34px;
    font-weight: bold !important;
    float: left;
}

 .caption {
    font-size: 10px;
    text-transform: uppercase;
    line-height: 16px;
    color: #AAA;
}

.note {
    width: 400px;
    padding: 5px;
    background: #FFFFE0 none repeat scroll 0% 0%;
    border: 1px dotted #F68932;
}

.content {
    font-size: 12px;
    text-align: left;
}

.break {
    margin-top: 20px !important;
}

.virgin {
    background: transparent url("../images/icon_big_type_virgins.png") no-repeat scroll left top;
    width: 335px;
    height: 70px;
    padding: 5px 0px 5px 65px;
}

.option {
    float: left;
	text-align: left;
	height: 20px;
	margin-left: 20px;
}

.mount label {
    float: left;
    width: 190px;
    color: #000;
    text-align: left;
    padding: 0px;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    height: 20px;
}

.veteran {
    background: transparent url("../images/icon_big_type_veterans.png") no-repeat scroll left top;
    width: 335px;
    height: 80px;
    padding: 5px 0px 5px 65px;
}

.pro {
    background: transparent url("../images/icon_big_type_pros.png") no-repeat scroll left top;
    width: 335px;
    height: 80px;
    padding: 5px 0px 5px 65px;
}

 .submit {
    margin: 10px 0px 0px;
    border-top: 1px dotted #888;
    padding: 10px 0px 0px 135px;
}

.title {
    font-size: 20px !important;
    color: #000 !important;
}

.secpos {
    margin-bottom: 5px;
}

input#hm_area,#hm_start,#hm_end {
    width: 46px;
    margin: 0px 5px 0px 0px;
	padding: 7px;
}

.select select {
    margin: 5px 0px 0px;
    padding: 3px 7px;
	background: #FCFCFC none repeat scroll 0% 0%;
	font-family: Helvetica,Arial,sans-serif;
	width: 200px;
	outline: 0px none;
	color: #000;
	font-size: 16px;
	border: 1px solid #CCC;
	cursor: default;
}

/*--End deshboard Edit/ update option--*/


/*terms page css starts*/

#content #left {
    width: 652px;
    float: left;
}


.toplink {
    padding: 0px 10px;
    text-align: right;
    font-size: 10px;
    text-transform: uppercase;
}

.toplink a {
    padding: 5px 7px;
    background: #7FC8E7 none repeat scroll 0% 0%;
    color: #FFF;
    text-decoration: none;
}

#content .buffer {
    padding: 10px 12px 10px 10px;
}

#content #right {
    float: right;
    width: 324px;
}

/*image upload starts*/
.photo_upload {
    margin: 0px 0px 10px 125px;
}



/*massage */
.empty {
    padding: 25px 15px;
    color: #BBB;
    font-size: 20px;
    letter-spacing: -1px;
}

.continue_read {
    font-size: 13px;
    font-weight: 600;
}

.massage_details{}

/*alert starts*/

table.alerts {
    margin: 0px auto;
    width: 630px;
}

table.alerts tbody tr.header td.title_tab {
    font-size: 24px;
    color: #A2D267;
    letter-spacing: -1px;
    padding: 10px;
    border-left: 0px none;
    border-right: 0px none;
    border-bottom: 1px solid #CCC;
}

.alerts tbody tr.header td.option {
    font-weight: bold;
    border-right: 0px none;
}

.alerts tbody td.option {
    width: 95px;
    text-align: center;
    padding: 17px 0px;
}

.odd {
    border: 1px solid #ddd;
    background-color: #E1E1E1;
}

.title_tab {
    padding: 0px 7px !important;
}

.even {
    border: 2px solid #D7D7D7;
}

.submit_btn input {
    width: 64px;
    height: 30px;
    background: #A2D267 none repeat scroll 0% 0%;
    color: #FFF;
    font-size: 16px;
    text-align: center;
    outline: 0px none;
    cursor: pointer;
    border: 1px solid #A2D267;
}

.submit_btn {
    margin: 15px 0;
    float: right;
}

.alerts tbody tr.odd td.option {
	padding: 10px 15px 10px 10px;
}

.focus_error {
    background-color: #F00;
    color: #fff;
    padding: 8px;
}

.participants {
    margin: 0px auto;
    width: 620px;
}

.recipient {
    float: left;
    width: 300px;
    padding: 10px 0px 15px;
    background: #F2F9FD none repeat scroll 0% 0%;
}

.participants h4 {
    margin: 0px 10px 10px;
    padding: 0px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #BBB;
    border-bottom: 1px solid #EEE;
}

.participants div.image {
    margin: 0px 0px 0px 10px;
    width: 125px;
    float: left;
}

.sender {
    float: right;
    width: 300px;
    padding: 10px 0px 15px;
}

.participants div.info_massage {
    float: left;
    padding: 0px 10px 0px 5px;
}

.participants div.info div.first {
    line-height: 20px;
    font-size: 18px;
    letter-spacing: -1px;
}

.participants div.info div.last {
    line-height: 16px;
    font-size: 14px;
}

.participants div.info div.userid {
    margin: 10px 0px 0px;
    font-size: 10px;
    text-transform: uppercase;
    color: #888;
}

.msginfo div.subject {
    width: 440px;
    float: left;
}

.msginfo div.date {
    width: 160px;
    float: right;
}

.msginfo div.subject input {
    margin: 0px 0px 0px 10px;
    padding: 7px;
    width: 380px;
    background: #FCFCFC none repeat scroll 0% 0%;
    font-family: Helvetica,Arial,sans-serif;
    outline: 0px none;
    color: #000;
    font-size: 16px;
    border: 1px solid #CCC;
    cursor: text;
}

.msginfo div.subject {
    width: 440px;
    float: left;
}

.msginfo h4 {
    margin: 0px 10px 5px;
    padding: 0px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #BBB;
    border-bottom: 1px solid #EEE;
}

.bold{font-weight:bold;}

.msginfo {
    padding: 5px;
}

.msgbody {
    padding: 0px 10px 10px;
}

.msgbody div.note {
    margin: 20px 0px 15px;
    padding: 5px;
    background: #FFFFE0 none repeat scroll 0% 0%;
    border: 1px dotted #F68932;
    text-align: left;
	width: 690px;
}

#message_text {
    width: 690px;
	height: 140px;
}

.msgtools {
    margin: 0px 10px;
}

.msgtools div.delete {
    float: right;
    margin: 10px 0px 10px 10px;
}

.msgtools div.submit {
    margin: 10px 0px 0px;
    padding: 10px 0px 0px 135px;
    float: right;
	border-top:0 !important;
}

.msgtools div.submit input {
    background: #BEDF94 none repeat scroll 0% 0%;
    padding: 6px 17px;
    font-weight: 700;
    border: 1px solid #BEDF94;
}

/*offer page*/

.buffer {
    padding: 10px 12px 10px 10px;
}

.highlight {
    display: block;
    box-shadow: 0px 3px 3px #D2D2D2;
}

.ofrbody {
    padding: 15px;
}

.checkbox{margin-bottom: 5px;}

.mount.toggle {
    padding: 10px 0px 0px;
}

.toggle .box {
    float: left;
    text-align: left;
    height: 20px;
}
#prequalified {
    margin-left: 0px !important;
    margin-top: 1px !important;
}

.Pre_Qualified_text {
    width: 100% !important;
    margin-bottom: 10px !important;
}

.datepos .field {
    float: left;
    line-height: 34px;
}

.offerpage_lable{text-align: left;
                 margin-left: 20px;
				 }
.offerpage_checkbox{margin:0 !important;}

form.default .datepos .mount input#closing_month, form.default .datepos .mount input#closing_day, form.default .datepos .mount input#expire_month, form.default .datepos .mount input#expire_day, form.default .datepos .mount input#start_month, form.default .datepos .mount input#start_day {
    width: 20px;
    margin: 0px 3px 0px 0px;
}

form.default .datepos .mount input#closing_year, form.default .datepos .mount input#expire_year, form.default .datepos .mount input#start_year {
    width: 40px;
}

.datepicker{margin-top:5px;}

.asking_price_image{height: 198px;
					width: 299px;
					}

.inside_asking_price {
    position: absolute;
    margin-top: -40px;
}

/* book mark page */

ul#inventorytop li.results {
    list-style: outside none none;
    width: 300px;
    float: right;
    line-height: 50px;
    padding: 0px 15px 0px 0px;
    text-align: right;
    color: #AAA;
}

ul#inventory li.item .photo {
    height: 125px;
    width: 185px;
}

.price_db a {
    color: #000 !important;
}

ul#inventory li.item .tools .icons {
    padding: 5px 0px 0px;
    float: right;
}

ul#inventory li.item .address a{
    font-weight: bold;
	font-size:14px;
}

ul#inventory li.item .tease {
    margin: 5px 0px 0px;
    padding: 5px 0px;
    border-top: 1px dotted #A0CE67;
    line-height: 14px;
	width: 184px;
}

ul#inventory li.item .tease span.sign {
    background: #0092CF none repeat scroll 0% 0%;
}

.tools {
    height: 25px;
}

ul#inventory li.item {
    width: 215px;
    float: left;
    margin: 0px;
    list-style: outside none none;
    padding: 15px 15px 0px;
    background-color: #EBF5F8;
    margin-right: 20px !important;
	margin-bottom: 20px !important;
}

.text_yellow{color:rgb(255, 126, 0);}